%h1 List of users
-if flash[:alert]
  %p#error_explanation= flash[:alert]

%table.table-condensed
  %thead
    %tr
      %th Username
      %th Full name
      %th Actions

  %tbody
    - @users.each do |user|
      %tr
        %td
          %b= render_username user
        %td= user.first_name+' '+user.last_name
        %td
          = link_to 'Profile', user
          - if (!current_user.nil?) 
            - if (current_user.username == user.username)
              = (link_to 'Modify', edit_user_path(user)) 
              = (link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' })
            - else
              - if @friend_ids.include?(user.id)
                = (link_to 'Unfollow', unfollow_path(user)) 
              - else
                = (link_to 'Follow', follow_path(user)) 


%br


= (link_to 'Sign Up', new_user_path)+' | ' if (current_user.nil?)
= link_to 'Home', root_url
