%h1 Listing users
-if flash[:alert]
  %p#error_explanation= flash[:alert]

%table.table-condensed
  %thead
    %tr
      %th Username
      %th First name
      %th Last name
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.username
        %td= user.first_name
        %td= user.last_name
        %td= link_to 'Show', user
        - if (!current_user.nil?) && (current_user.username == user.username)
          %td= (link_to 'Edit', edit_user_path(user)) 
          %td= (link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' })
        - else
        %td
        %td

%br


= (link_to 'Sign Up', new_user_path)+' | ' if (current_user.nil?)
= link_to 'Home', root_url
